*
{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.headline
{
    background:linear-gradient(45deg,white 20%, grey, blue, black);
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
}

.headline:hover
{
    /* animation: banner 1s ease-in-out alternate infinite; */
    animation-name: banner-hl;
    animation-duration: 2s;
    animation-timing-function: linear;
    /* animation-iteration-count: 1; */
    /* animation-direction: alternate; */
}

@keyframes banner-hl
{
    0%
    {
        background:linear-gradient(45deg,white 20%, grey, blue, black);
    }

    25%
    {
        background:linear-gradient(45deg,white 40%, grey 60%, blue 80%, black);
    }

    50%
    {
        background:linear-gradient(45deg,white 60%, grey 80%, blue 95%, black);
    }

    75%
    {
        background:linear-gradient(45deg,white 40%, grey 60%, blue 80%, black);
    }

    100%
    {
        background:linear-gradient(45deg,white 20%, grey, blue, black);
    }
}

.foot
{
    background:linear-gradient(225deg,white 20%, grey, blue, black);
    border:1px solid #d9d9d9;
    text-align: right;
}

.foot:hover
{
    animation-name: banner-ft;
    animation-duration: 3s;
    animation-timing-function: linear;
    /* animation-iteration-count: 1; */
    /* animation-direction: alternate; */
}

@keyframes banner-ft
{
    0%
    {
        background:linear-gradient(225deg,white 20%, grey, blue, black);
    }

    25%
    {
        background:linear-gradient(225deg,white 40%, grey 60%, blue 80%, black);
    }

    50%
    {
        background:linear-gradient(225deg,white 60%, grey 80%, blue 95%, black);
    }

    75%
    {
        background:linear-gradient(225deg,white 40%, grey 60%, blue 80%, black);
    }

    100%
    {
        background:linear-gradient(225deg,white 20%, grey, blue, black);
    }

}

.dropdown, .home, .about, .cv, .contact
{
    width:50px;
    height:50px;
    border-radius:10px;
    border:1px solid #DFDFDF;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  10px 10px 20px #d9d9d9,
                 -10px -10px 20px #ffffff;
}

.dropdown::before
{
    width:auto;
    height:auto;
    font-family: 'FontAwesome';
    content:'\f0c9';
    color:black;
    font-size:2em;
    padding: 0px;
    margin-bottom:0px;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.dropdown:hover, .home:hover, .about:hover, .cv:hover, .contact:hover
{
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  10px 10px 20px #d9d9d9,
                -10px -10px 20px #ffffff;
}

.dropdown:hover .menu
{
    visibility: visible;
}

.menu
{
    visibility: hidden;
    width:50px;
    height:200px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: "home" "about" "cv" "contact";
    gap:1px;
    margin-top:0px;
    background-color: transparent;
}

a
{
    text-decoration:none;
    color:black;
    width: 1fr;
    /* min-width:80px; */
}

.home
{
    margin-top:0px;
}

.home, .about, .cv, .contact
{
    height:50px;
    width:50px;
    
    background-color: white;
    border-radius:10px;
    margin-bottom:10px;
}

.dropdown::before, .home::before, .about::before, .cv::before, .contact::before
{
    font-family: 'FontAwesome';
    margin:0;
    text-align: center;
}

.home
{
    grid-area: home;
}

.home::before
{
    content:'\f015';
}

.about
{
    grid-area: about;
}

.about::before
{
    content:'\f2bb';
}

.cv
{
    grid-area: cv;
}

.cv::before
{
    /* content:'\f15b'; */
    content:'\f0a3';
}

.contact
{
    grid-area: contact;
}

.contact::before
{
    content:'\f0e0';
}

form
{
    border:1px solid #b9b9b9;
    padding:20px;
}

input, label
{
    padding-left:10px;
    border-radius:5px;
}

input
{
    border:2px solid #d9d9d9;
}

label 
{
    margin-top:10px;
    border:none;
}

input:hover, input:focus, input:checked
{
    border:2px solid grey;
    box-shadow: 5px 5px 10px #b9b9b9;
}

input[type="textarea"]
{
    width:auto;
    height:200px;
}

.h1-cv
{
    width:200px;
    border:1px solid black;
    border-radius: 10px;
    margin-bottom:20px;
    box-shadow: 10px 10px 10px grey;
    padding-left:10px;
}

table
{
    max-width: 800px;
    border-spacing: 10px;
    border:1px solid black;
    border-radius: 10px;
    margin-bottom:20px;
    box-shadow: 10px 10px 10px grey;
}

table>tr:first-child
{
    min-width:150px;
    max-width:150px;
}

/* Mobile */
@media screen and (max-width:480px)
{
    body
    {
        width:99vw;
        height:98vh;
        display:grid;
        grid-template-columns:50px 9fr;
        grid-template-rows: 1fr 8fr 1fr;
        grid-template-areas: 
            "dd mn"
            /* "hl ct" */
            "dd mn"
            "ft ft";
        padding:5px;
    }

    .menu
    {
        height:220px;
        width:50px;        
        grid-template-rows: 50px 50px 50px 50px;
        grid-template-areas: "home" "about" "cv" "contact";
        gap:1px;
        margin-top:6px;
    }

    .dropdown, .home, .about, .cv, .contact
    {
        height:50px;
        width:50px;
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow:  5px 5px 10px #d9d9d9,
                     -5px -5px 10px #ffffff;
    }

    .dropdown::before, .home::before, .about::before, .cv::before, .contact::before
    {
        margin:0;
        font-size:38px;
    }

    .dropdown::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .home::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .about::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .cv::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .contact::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .dropdown:hover, .home:hover, .about:hover, .cv:hover, .contact:hover
    {
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow:  5px 5px 10px #a9a9a9,
                    -5px -5px 10px #ffffff;
    }

    .dropdown
    {
        grid-area:dd;
    }

    .headline
    {
        height:50px;
        width:100%;
        grid-area:hl;
        padding:5px;
        font-size:2em;
        font-weight: bold;
        /* font-style:oblique; */
    }

    .content
    {
        height:100%;
        width:100%;
        grid-area:ct;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "hl ct";
        padding:5px;
    }

    .index-content, .about-content
    {
        border:1px solid grey;
        box-shadow: 5px 5px 10px grey;
        padding:10px;
        margin:20px;
    }

    .index-content>p, .about-content>p
    {
        max-width: calc(98vw - 50px);
    }

    .portrait
    {
        max-width:350px;
        height:450px;
        border:1px solid black;
    }

    .about-content>h1
    {
        margin-top:1em;
        margin-bottom:1em;
        /* text-align: center; */
    }

    form
    {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "label" "input";
        gap:10px;
    }

    label
    {
        width:150px;
    }

    table
    {
        width:1fr;
    }
    .vitae
    {
        display:flex;
        flex-direction:column;
    }

    th
    {
        text-align: left;
    }

    .foot
    {
        height:100%;
        width:100%;
        grid-area:ft;
        padding:5px;
    }
}

/* Tablet */
@media screen and (min-width:481px) 
{
    body
    {
        width:99vw;
        height:98vh;
        display:grid;
        grid-template-columns: 1fr 9fr;
        grid-template-rows: 1fr 8fr 1fr;
        grid-template-areas: 
        "dd mn"
        /* "hl ct" */
        "dd mn"
        "ft ft";
        padding:10px;
    }

    .menu
    {
        height:264px;
        width:66px;        
        grid-template-rows: 66px 66px 66px 66px;
        grid-template-areas: "home" "about" "cv" "contact";
        gap:1px;
        margin-top:10px;
    }

    .dropdown, .home, .about, .cv, .contact
    {
        height:66px;
        width:66px;
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow:  7px 7px 13px #d9d9d9,
                     -7px -7px 13px #ffffff;
    }

    .dropdown::before, .home::before, .about::before, .cv::before, .contact::before
    {
        margin:0;
        font-size:50px;
        padding-top:8px;
        text-align:center;
        justify-content: center;
        align-items: center;    
    }

    .dropdown::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .home::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .about::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .cv::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .contact::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .dropdown:hover, .home:hover, .about:hover, .cv:hover, .contact:hover
    {
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow:  7px 7px 13px #a9a9a9,
                    -7px -7px 13px #ffffff;
    }
    
    .dropdown
    {
        grid-area:dd;
    }

    .headline
    {
        height:66px;
        width:100%;
        grid-area:hl;
        padding:10px;
        padding-top:8px;
        padding-bottom:12px;
        font-size: 2.7em;
        font-weight: bold;
        /* font-style: oblique; */
    }

    .content
    {
        height:100%;
        width:100%;
        grid-area:ct;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "hl ct";
        padding:10px;
    }

    .index-content, .about-content
    {
        border:1px solid grey;
        box-shadow: 7px 7px 13px grey;
        padding:10px;
        margin:20px;
    }

    .index-content>p, .about-content>p
    {
        max-width: calc(98vw - 75px);
    }

    .portrait
    {
        max-width:350px;
        height:450px;
        border:1px solid black;
    }

    .about-content>h1
    {
        margin-top:1em;
        margin-bottom:1em;
        /* text-align: center; */
    }

    form
    {
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: "label input";
        gap:10px;
    }

    .vitae
    {
        display:flex;
        flex-direction:column;
    }

    th
    {
        text-align: left;
    }

    .foot
    {
        height:100%;
        width:100%;
        grid-area:ft;
        padding:10px;
    }
}

/* PC */
@media screen and (min-width:769px)
{
    body
    {
        width:99vw;
        height:98vh;
        display:grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 1fr 8fr 1fr;
        grid-template-areas: 
        "dd mn"
        /* "hl ct" */
        "dd mn"
        "ft ft";
        padding:20px;
    }

    .menu
    {
        height:400px;
        width:100px;        
        grid-template-rows: 100px 100px 100px 100px;
        grid-template-areas: "home" "about" "cv" "contact";
        gap:1px;
        margin-top:20px;
    }

    .dropdown, .home, .about, .cv, .contact
    {
        height:100px;
        width:100px;
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow:  10px 10px 20px #d9d9d9,
                     -10px -10px 20px #ffffff;
    }

    .dropdown::before, .home::before, .about::before, .cv::before, .contact::before
    {
        margin:0;
        font-size:75px;
        padding-top:12px;
        text-align:center;
        justify-content: center;
        align-items: center;
    }

    .dropdown::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .home::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .about::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .cv::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .contact::before
    {
        display:flex;
        flex-direction: column;
        justify-content: baseline;
        align-items:center;
        padding-top:5px;
    }

    .dropdown:hover, .home:hover, .about:hover, .cv:hover, .contact:hover
    {
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow:  10px 10px 20px #a9a9a9,
                    -10px -10px 20px #ffffff;
    }
    
    .dropdown
    {
        grid-area:dd;
    }

    .headline
    {
        height:100px;
        width:100%;
        grid-area:hl;
        padding-top:10px;
        padding-bottom:12px;
        font-size: 4em;
        font-weight: bold;
        /* font-style: oblique; */
    }

    .content
    {
        height:100%;
        width:100%;
        grid-area:ct;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "hl ct";
        padding:20px;
    }

    .index-content, .about-content
    {
        border:1px solid grey;
        box-shadow: 10px 10px 20px grey;
        padding:10px;
        margin:20px;
    }

    .index-content>p, .about-content>p
    {
        max-width: calc(98vw - 100px);
    }

    .portrait
    {
        max-width:350px;
        height:450px;
        border:1px solid black;
    }

    .about-content>h1
    {
        margin-top:1em;
        margin-bottom:1em;
        /* text-align: center; */
    }

    form
    {
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: "label input";
        gap:10px;
    }

    .vitae
    {
        display:flex;
        flex-direction:column;
    }

    th
    {
        text-align: left;
    }

    .foot
    {
        height:100%;
        width:100%;
        grid-area:ft;
        padding:20px;
    }

}